<!DOCTYPE html>
<html>
<head>
    <title>Indian Election</title>
    <style>
        /* Add your CSS here */
    </style>
</head>
<body>
    <h1>Indian Election</h1>
    <p>Please enter your Aadhaar Card Number to Authenticate yourself in order to cast your precious vote.</p>
    <form action="/submit" method="post">
        <label for="aadhaar">Enter your Aadhaar Card Number (UIDAI Number)</label><br>
        <input type="text" id="aadhaar" name="aadhaar"><br>
        <input type="submit" value="Authenticate">
    </form>
</body>
</html>
